<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @abook.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @abook.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @abook.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @abook.zipcode %>
</p>

<p>
  <strong>Fav color:</strong>
  <%= @abook.fav_color %>
</p>

<%= link_to 'Edit', edit_abook_path(@abook) %> |
<%= link_to 'Back', abooks_path %>
