<%= form_for(@add_book) do |f| %>
  <% if @add_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@add_book.errors.count, "error") %> prohibited this add_book from being saved:</h2>

      <ul>
      <% @add_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :fav_color %><br>
    <%= f.text_area :fav_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
