<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @address.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @address.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>

<p>
  <strong>Fav color:</strong>
  <%= @address.fav_color %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
